body {
  margin: 0;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  color: white;
  font-size: 14px;
  line-height: 1.43;
  -webkit-font-smoothing: antialiased;
}

.main-view-container {
  display: flex;
  max-height: 592px;
  flex-direction: row;
  background-color: #484848;
}

.left {
  display: flex;
  flex: 2 1 0;
  margin: 0.5px;
  overflow: hidden;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  margin: 0.5px;
  overflow: hidden;
}

.main,
.secondary {
  display: flex;
  margin: 0.5px;
  overflow: hidden;
  flex: 1
}

img {
  flex: 1 1 0;
  max-width: 100%;
  max-height: 100%;
  transition-property: transform, opacity, -ms-transform, -webkit-transform;
  transition-duration: 450ms, 450ms, 450ms;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-delay: 0s, 0s, 0s;
}

img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.container:hover > div > div > img:not(:hover) {
  opacity: 0.7;
}

.carousel-page-container {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.return-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px;
  padding-bottom: 20px;
}
.main-content-container {
  display:flex;
  flex-direction: column;
}

.main-photo-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

}

.nav-button-container {
  display: flex;
}
button:hover {
  cursor: pointer;
}

figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 0;
  max-width: 955px;
  align-self: center;
}

.fig-caption-space {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.fig-caption-top {
  margin-bottom: 12px;
}

.photo-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.thumbnail-view-container {
  overflow: hidden;
}

.thumbnail-wrapper {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  transition-delay: 0s, 0s, 0s;
  transition-duration: 0.3s, 0.3s, 0.3s;
  transition-timing-function: ease-out, ease-out, ease-out;
  
}

li {
  display: flex;
  height: 71px;
  width: 100px;
  margin-left: 10px;
}

