body {
  margin: 0;
}

.container {
  display: flex;
  height: 592px;
  flex-direction: row;
  background-color: #484848;
}

.left {
  display: flex;
  flex: 2 1 0;
  margin: 0.5px;
  overflow: hidden;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  margin: 0.5px;
  overflow: hidden;
}

.main,
.secondary {
  display: flex;
  margin: 0.5px;
  overflow: hidden;
  flex: 1
}

img {
  flex: 1 1 0;
  max-width: 100%;
  max-height: 100%;
  transition-property: transform, opacity, -ms-transform, -webkit-transform;
  transition-duration: 450ms, 450ms, 450ms;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-delay: 0s, 0s, 0s;

}

img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.container:hover > div > div > img:not(:hover) {
  opacity: 0.7;
 
}